.add_list_btn {
    margin-top: 2rem;
    margin-left: 4rem;
    height: 3rem;
    width: 18vw;
    opacity: 0.8;
    border: 1px solid white;
    border-radius: 0.5rem;
}
.todo_container_list{
   display: flex; 
}
.container{
  
    /* display: flex;
    flex-direction: column;
    /* min-width: 11rem; */
    /* height: 2.5rem;     */
    /* border-radius: 5px;
    margin: 60px;
    padding-right: 90px;
    height: 6rem;
    padding-left: 20px;
    width: 18vw;
    /* background-color: white; */
    /* transition: height 0.3s ease-in-out;  */ 

}
/* .title{
border: 3px solid black;
/* height: 5rem; */

.inputField{
    border: none;
    border-radius: 8px;
    font-size: 15px;
    /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    /* margin-left: -7px; */
    margin-top: 2rem;
    margin-left: 4rem;
    padding: 5px;
    height: 2rem;
    width: 18vw;
    padding-left: 15px;
    padding-top: 15px;
    resize: none;
    box-shadow: 0px 0px 2px .1px rgb(183, 182, 182);
}
.addbtn{
    background-color: #1c7bff;
    color: white;
    border: none;
    height: 3.2rem;
    padding-top: 9px;
    margin-left: 7px;
    /* padding-left: 2px; */
  /* padding-top: 4.5rem; */
    /* padding: 13px 17px; */
    border-radius: 3px;
}
.addbtn:hover{
    background-color: #0055CC;
}
.inputField2{
    border: none;
    border-radius: 8px;
    font-size: 15px;
    margin-top: 2rem;
    margin-left: 4rem;
    padding: 5px;
    height: 2rem;
    width: 18vw;
    padding-left: 15px;
    padding-top: 15px;
    resize: none;
    box-shadow: 0px 0px 2px .1px rgb(183, 182, 182);

}