.add_list {
    display: flex;
    
    
  }
  
  .add_list_btn {
    margin-top: 2rem;
    margin-left: 4.5rem;
    height: 3.6rem;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    background-color: rgb(131,136,145);

    /* position: relative; */
    width: 18vw;
    /* border: 1px solid white; */
    border-radius: 0.5rem;
    font-size: 1rem;
  }
  .cross{
    /* border: 1px solid red; */
    color: black;
    margin-top: 65px;
    font-size: 1.5rem;
    margin-right: -120px;


  }
  .container1{
    height: 100vh !important ;
    width: 100vw;
    
  }
  .add_list_field {
    height: 6.8rem;
    width: 16.8vw;
    margin-left: 4rem;
    margin-top: 2.8rem;
    /* position: fixed; */
  
    display: flex;
    flex-direction: row-reverse;
    background-color: rgb(241,242,244);
    border-radius: 0.5rem;
    padding-left: 0.8rem;
  }  
  .text_field {
    height: 2.6rem;
    width: 16.8vw;
    

    margin-right:4px ;
    position: fixed;
    /* border: 2px solid rgb(138, 96, 245); */
    border: none;
    margin-top: 10px;
    /* box-shadow: 0px 0px 5px black; */

    border-radius: 0.1rem;
    font-size: 1rem;
  }
  
  .forms{
    /* border: 2px solid red; */
    /* height: 3rem; */
    /* width: 10px; */

  }
  .list_btn {
    height: 2.7rem;
    width: 80px;
    background-color: rgb(12,102,228);
    /* padding: 10px; */
    color: black;
    /* border-radius: 1rem; */
    border: none;
    margin-right: 210px;
    margin-top: 3.9rem;
  }

  .addbtn{
    width: 90px;
    height: 2.7rem;
    background-color: rgb(12,102,228);
    border: none;
  }
  .container {
      display: flex;
      /* flex-direction: row-reverse; */
      
      
  }
  .cross1{
    font-size: 1.5rem;
    position: relative;
    left: 110px;
    margin-top: -35px;


  }
  .pencil{
    /* position: relative; */
    /* left: 180px; */
    /* margin-top: px; */
     /* left: 310px;  */
     position: relative;
     top: -40px;
     /* margin-top: 1px; */
     left: 240px;


  }
  .input1{
    /* border: 2px solid black; */
    /* box-shadow: 0px 0px 3px black; */
    background-color: rgb(241,242,244);
    border: none;
    margin-bottom: 20px;
    /* border: rgb(12,102,228); */

    width: 240px;
  }
  .element{
    /* border: 2px solid blue; */
    border-radius: 6px;
   
    /* margin-right: 10px; */
    background-color: white;
    display: flex;
    /* justify-content: flex-end; */
    margin-bottom: 6px;
    box-shadow: 0px 0px 1px black;
    height: 40px;

  
    /* height: ; */
    width: 270px;
    /* position: absolute; */
  }
  
  .wraperContainer {
    margin-top: 2.8rem;
    display: flex;
    flex-direction: row;
    margin-left: 4rem;
   height: fit-content;
    width: 16.8vw;
    background-color: rgb(241,242,244);
    color: black;
    border-radius: 0.6rem;
  }
  
  .todoContainer {
    display: flex;
    flex-direction: column;
    padding-left: 0.5rem;
    padding-bottom: 0.8rem;
    height: fit-content;
  }
  
  .titles {
      display: flex;
      justify-content: space-between;
    border: none;
    font-weight: 500;
  }
  .todo_container_list{
    display: flex;
    /* flex-direction: row-reverse; */
    /* border: 2px solid pink; */
    position: relative;
  }
  .form2{
/* border: 2px solid red; */
overflow: hidden;
  }
  .input2{
/* border: 2px solid blue; */
border: none;
border-radius: 5px;
margin-bottom: 16px;
width: 260px;
height: 40px;
/* margin-bottom: 10px; */
overflow: hidden;
  }
  .cartitem{
    overflow:hidden;
  }
  .cartitem:hover{
    box-shadow: 0px 0px 4px black;
  }