body{
    /* background: url('./../atoms/pics/kanvin.jpg'); */
    background: url('../molecules//navbar/Laptop-Wallpaper-4K-High-Resolution.jpg');
    background-color: white;
    color:black;
    
}