.add_List {
    height: 2.6rem;
    width: 14rem;
    background-color: white;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 0.2rem;
    font-size: 1rem;
    margin: 0.6rem 0;
    padding-left: 0.6rem;
    display: flex;
    align-items: center;
}

.task_list {
    height: 2.2rem;
    width: 14rem;
    background-color: white;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 0.2rem;
    font-size: 1rem;
    margin: 0.6rem 0;
    padding-left: 0.6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card_btn {
    height: 2rem;
    width: 4.8rem;
    background-color: blue;
    color: white;
    border-radius: 0.2rem;
    border: none;
    margin-top: 0.2rem;
  }